{% extends 'main/templates/shared/base.html' %} {% block content %}
<h1>Reviews for {{ address }}</h1>
<p>Average Rating: {{ rating_average }}</p>

{% if errors %}
    Errors:
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
{% endif %}

<a href="{% url 'create_review' street=street city=city state=state %}">Add Review</a>

{% for review in reviews %}
    <h2>{{ review.title }}</h2>
    <p>User: {{ review.user }}</p>
    <p>Comment: {{ review.comment }}</p>
    <p>Rating: {{ review.rating }}</p>
    {% if review.starting_rent %}
    <p>Starting rent: {{ review.starting_rent}} {% if review.starting_rent_month_year %} on {{ review.starting_rent_month_year }} {% endif %}</p>
    {% endif %}
    {% if review.ending_rent %}
    <p>Ending rent: {{ review.ending_rent}} {% if review.ending_rent_month_year %} on {{ review.ending_rent_month_year }} {% endif %}</p>
    {% endif %}
    <p>Published on: {{ review.pub_date }}</p>
{% endfor %}
{% endblock %}
