{% extends 'main/templates/shared/base.html' %} {% block content %}
<h1>Reviews for {{ address }}</h1>

<a href="{% url 'create_review' street=street city=city state=state %}">Add Review</a>

{% for review in reviews %}
    <h2>{{ review.title }}</h2>
    <p>User: {{ review.user }}</p>
    <p>Comment: {{ review.comment }}</p>
    <p>Rating: {{ review.rating }}</p>
    {% if review.starting_rent %}
    <p>Starting rent: {{ review.starting_rent}} {% if starting_rent_month_year %} on {{ starting_rent_month_year }} {% endif %}</p>
    {% endif %}
    {% if review.ending_rent %}
    <p>Ending rent: {{ review.ending_rent}} {% if endinging_rent_month_year %} on {{ endinging_rent_month_year }} {% endif %}</p>
    {% endif %}
    <p>Published on: {{ review.pub_date }}</p>
{% endfor %}
{% endblock %}
