{% load static %}

<html>
<body>
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'home_page.css' %}">

{% include "main/templates/shared/header.html" %}
{% if get_property_address_form %}
    {% include "main/templates/home_page/get_property_address_form.html" %}
{% endif %}

{% if show_property_address %}
    {% if property_found %}
    {% else %}
        {% include "main/templates/home_page/property_not_found.html" %}
    {% endif %}
{% endif %}
<body>
</html>