{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">rentalranter.com</a>
    {% include "main/templates/home_page/get_address_form.html" %}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        {% if user.is_authenticated %}
        <form action="{% url 'user_logout' %}" method="post">
          {% csrf_token %}
          <li class="nav-item ms-auto">
            <button class="btn btn-primary" type="submit">Logout</button>
          </li>
        </form>
        <form action="{% url 'user_profile' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{ user }}" />
          <li class="nav-item ms-auto">
            <button class="btn btn-primary" type="submit">{{user}}</button>
          </li>
        </form>
        {% else %}
        <li class="nav-item ms-auto">
          <a href="{% url 'user_login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
